<%- include('partials/header') %>

<!-- Your main content goes here -->
<div class="w-full h-screen bg-cover bg-[url('https://images.unsplash.com/photo-1541701494587-cb58502866ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] flex items-center justify-center">
    <div class="w-[25vw] bg-white px-20 py-10 rounded-[30px]">
      <h1 class="text-2xl mb-10 text-center text-zinc-700 font-semibold tracking-tighter capitalize leading-none">Create New Account</h1>
      <form action="/register" method="post">
        <input class="border-2 block mt-2 w-full px-3 py-2 rounded-md" type="text" name="username" id="username" placeholder="username">
        <input class="border-2 block mt-2 w-full px-3 py-2 rounded-md" type="text" name="fullname" id="name" placeholder="fullname">
        <input class="border-2 block mt-2 w-full px-3 py-2 rounded-md" type="email" name="email" id="email" placeholder="email">
        <input class="border-2 block mt-2 w-full px-3 py-2 rounded-md" type="number" name="contact" id="contact" placeholder="contact">
        <input class="border-2 block mt-2 w-full px-3 py-2 rounded-md" type="password" name="password" id="password" placeholder="password">
        <input class="border-2 block mt-5 w-full px-3 py-2 bg-red-600 text-white rounded-full" type="submit" value="Create New Account">
        <p class="text-xs font-semibold text-zinc-700 mt-7 w-3/4 mx-auto text-center">By continuing, you agree to Pinterest's Terms of Service and acknowledge you've read our Privacy Policy. 
          </p>
      </form>
      <a class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full" href="/">Login Existing Account</a>
    </div>
  </div>
<%- include('partials/footer') %>
